
@font-face {
  font-family: _main_font;
  src: local("Segoe UI");
}
.dropdown-content {
  position: fixed;
  background: var(--dropmenu-background-color);
  min-width: auto;
  overflow: auto;
  z-index: 80;
  box-shadow: 1px 5px 20px var(--shadows);
  margin: 0;
  border: 1.1px solid var(--primaryColor);
  padding: 1px;
  border-radius: 0;
}

.dropdown-content>button:not(.dropbtn) {
  font-family: _main_font;
  font-size: 13px;
  color: var(--white-black);
  background-color: transparent;
  padding: 7px 5px;
  width: 100%;
  text-decoration: none;
  display: block;
  border: 0;
  text-align: left;
  transform: scale(1);
  padding-right: 10px;
  border-radius: 0px ;
}

.dropdown-content>button:hover:not(.dropbtn) {
  color: var(--white-black);
  background-color: var(--primaryColor);
  border-radius: 0px;
  cursor: pointer;
}

.dropdown-content>button:active:not(.dropbtn) {
  transition: 0.05s;
  transform: scale(0.97);
}

.dropdown-content>button:not(.dropbtn) div {
  display: inline-block;
}

.dropdown-content>button:not(.dropbtn) *:nth-child(1) {
  margin: 0 1px;
  position: relative;
  top: 0.7px;
}

.dropdown-content>button:not(.dropbtn):hover div .abo {
  stroke: var(--dropmenu-background-color);
}

.dropdown-content>button:not(.dropbtn):hover div .aba {
  fill: var(--white-black);
}

.dropdown-content>button:not(.dropbtn):hover div .bbo {
  stroke: var(--white-black);
}

.dropdown-content>button:not(.dropbtn):hover div .bba {
  fill: var(--dropmenu-background-color);
}

.dropdown-content>button:not(.dropbtn) div .abo {
  stroke: var(--dropmenu-background-color);
}

.dropdown-content>button:not(.dropbtn) div .aba {
  fill: var(--white-black);
}

.dropdown-content>button:not(.dropbtn) div .bbo {
  stroke: var(--white-black);
}

.dropdown-content>button:not(.dropbtn) div .bba {
  fill: var(--dropmenu-background-color);
}

span.line_space_menus {
  width: auto;
  display: block;
  height: 1px;
  margin: 6px;
  background: var(--dropmenu-span-color);
}

.show {
  transition: 0.12s;
  transform: translateY(0px) ;
  opacity: 1;
  display: block;
  visibility: visible;
}

.hide {
  transition: 0.075s;
  opacity: 0.3;
  transform: translateY(-4px);
  visibility: hidden;
}

.navbar button {
  font-family: _main_font;
  font-size: 15px;
  color: var(--white-black);
  background-color: transparent;
  padding: 12px 10px;
  width: 80%;
  text-decoration: none;
  display: block;
  border: 0;
  margin: 2px 0px;
  border-radius: 5px;
  text-align: left;
  transform: scale(1);
  border-left: 5px solid transparent;
}


.navbar button.active {
  cursor: pointer;
  transition: 0.05s;
  border-left: 5px solid var(--accentColor);
  background:transparent;
  border-radius: 0px;
  color:var(--white-black)
}
.navbar button:hover {
  background: var(--widget-color);
  color:var(--white-black);
  border-radius: 0;
  cursor: pointer;
}
.navbar button:active {
  transition: 0.05s;
  transform: scale(0.99);
  background: var(--widget-color);
  color:var(--white-black);
}
.navbar button.active:hover {
  background: var(--widget-color);
}

.body_window{
  border-radius: 0px;
}

.window_content {
  border-radius: 0px;
}

button.button1{
  border-radius: 0px;
  padding: 10px 15px;
}

#g_content .g_editors {
  border-radius: 0;
}
.dialog_body {
  border-radius: 0;
  min-width: 25%;
  max-width: 330px;
  min-height: 110px;
  max-height: 70%;
  transform: translate(-50%,-50%);
  animation: window_up linear 0.15s;
}
.dialog_body p:nth-child(1){
  font-weight: normal !important;
}
.dialog_body .buttons  {
  display: flex;
  width: 100%;
  margin-top:30px;
}
.dialog_body .buttons>button {
  padding: 6px 20px;
  border-radius: 0px;
  flex: 1;
  border:2px solid transparent;
}
.dialog_body .buttons>button:hover {
  background: var(--primaryColor);
  border:2px solid var(--window-border-color);
  box-sizing: border-box;
}
.dialog_body .buttons>button.important:hover {
  background: var(--accentColor);
  border:2px solid var(--accentDarkColor);
  box-sizing: border-box;
}
.extension_div{
  border-radius:0px;
}

.theme_div {
  border-radius: 0px;
}
.body_window {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
}

@keyframes window_up {
  from {
    transform: scale(1.03) translate(-48%,-48%);

  }

  to {
    transform: scale(1) translate(-50%,-50%);
  }
}
.g_tabs_bar .tabs {
  border-radius: 0px !important;
}
.g_tabs_bar .tabs:hover {
  border-radius: 0px !important;
}

.notificationBody {
  border-radius: 0px;
  animation: open_up linear  0.13s;
}

@keyframes open_up {
  from {
    opacity: 0;
    right: -90px;
  }

  to {
    right: 0px;
    opacity: 1;
  }
}

.switch {
  width: 43px;
  height: 20px;
  border-radius: 20px;
  margin: 4px;
  transform: scale(1);
}

.switch:hover {
  cursor: pointer;
}

.switch > div {
  height: 9px;
  width: 9px;
  border-radius: 50px;
  position: relative;
  top: 6px;
}

.activated.switch {
  background: var(--accentColor);
}

.activated.switch > div {
  background: var(--black-white);
  left: 28px;
}

.desactivated.switch {
  background: var(--secondaryColor);
  border:2px solid var(--white-black);
  box-sizing: border-box;
}

.desactivated.switch > div {
  background: var(--white-black);
  top:4px;
  left: 5px;
}

.disabled.switch {
  transition: 0.07s;
  background: lightgray;
  box-sizing: border-box;
}

.disabled.switch.desactivated > div {
  transition: 0.07s;
  background-color: gray;
  left: -2px;
  position: relative;
}
.switch:active {
  transform: none;
  background: var(--widget-color);
  border-color: var(--widget-color);
}
.switch:active > div {
  background: var(--black-white)

}
.slider {
  -webkit-appearance: none;
  width: auto;
  height: 3px;
  background: var(--widget-color);
  outline: none;
  padding: 0px 4px 0px 4px;
  font-family: _main_font;
  margin: 20px 5px;
  border-radius: 0px;
  padding: 0;
}


.slider:hover {
  background: var(--dropmenu-span-color);
}
.slider:hover::-webkit-slider-thumb {
  background: var(--white-black)
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 25px;
  background: var(--accentColor);
  cursor: pointer;
  border-radius: 50px;
  padding: 0;
  margin: 0;
}

.section-3{
  border-radius: 0px;
}

a.active{
  border-radius: 0px;
}


gv-navpanel.side-menu gv-navbar gv-navbutton{
  margin: 0px 3px;
  padding:8px 12px;
  border-radius: 0px;

}


gv-navpanel.top-bar gv-navbar gv-navbutton{
  margin: 5px 0px;
  padding:8px 12px;
  border-radius: 0px;

}


gv-navpanel.top-bar gv-navcontent {
  border-radius: 0px;

}
